.mortgage h1 {
	color: #81559b;
	font-weight: bold;
}

input[type='range'] {
	overflow: hidden;
	-webkit-appearance: none;
	background-color: white;
	margin: 1rem;
	border-radius: 20px;
}

input[type='range']::-webkit-slider-runnable-track {
	/* height: 12px; */
	-webkit-appearance: none;
	color: #ccc;
	/* margin: -1px; */
}

input[type='range']::-webkit-slider-thumb {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	-webkit-appearance: none;
	/* cursor: ew-resize; */
	background: #ccc;
	box-shadow: -100px 0 0 100px #81559b;
}

.action button {
	font: inherit;
	font-weight: bold;
	background: #81559b;
	color: white;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	border: 1px solid #81559b;
	border-radius: 4px;
}

@media screen and (max-width: 768px) {
	input[type='range'] {
		margin: 1rem 0;
	}
	.mortgage label {
		display: block;
	}
	.mortgage h1 {
		font-size: 1.2rem;
	}
}
